<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\style.css">
    <title>Hakkında</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="anasayfa">AnaSayfa</a></li>
            <li><a href="hakkında" class="active">Hakkında</a></li>
        </ul>
    </nav>
    
    
    <h1>Bu sayfa Hakkındadır.</h1>
    <h2>Çakırlar Seracılık A.Ş.</h2>
    <h3>Çobanisa Çiftliği</h3>
</body>

</html>