<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\style.css">
    <title>Hava Durumu Bılgısı</title>
</head>

<body>
    <a href="anasayfa">ANASAYFA</a>
    <a href="hava">Wet</a>
    <h1>Hava Durumu</h1>
    <a class="weatherwidget-io" href="https://forecast7.com/tr/37d8427d85/aydin/" data-label_1="AYDIN"
        data-label_2="WEATHER" data-font="Open Sans Condensed" data-theme="desert">AYDIN WEATHER</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
</body>

</html>