<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\style.css">

    <title>Canku Alkan Web Page</title>

</head>
<body>
    <a href="anasayfa">ANASAYFA</a>
    <a href="hava">HAVA DURUMU</a>
    <h1>ben canku 11 yaşındayım</h1>
    <h2>Bahçeşehir Kolejine gidiyorum.</h2>
    <h3>5. sınıfa gidiyorum</h3>
    <p>sınfımız 18 kişi</p>
    <p>sınıfımız 9 erkek 9 kız</p>

</body>
</html>